@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --border-color: #e3e5e4;
  --background-color: #c3c7ca;
  --text-color: #34444f;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.searched{
    display:block !important;
}

.not-searched{
    display: none !important;
}

/* Drag and Drop */

    .draggable-list {
      border: 1px solid var(--border-color);
      color: var(--text-color);
      padding: 0;
      list-style-type: none;
    }

    .draggable-list li {
      /* background-color: #fff; */
      display: flex;
      flex: 1;
    }

    .draggable {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        flex: 1;
    }

    .over {
        border-style: solid;
        border-width: 0px 0px 4px 0px; ;
    }

/* loader */
.container{
  align-self: center;
  height: 15px;
  width: 105px;
  display: flex;
  position: relative;
}
.circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(238, 237, 237);
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}
.circle:first-child{
  position: absolute;
  top:0;
  left:0;
  animation: grow 500ms linear 0ms infinite;
}
  
.circle:last-child{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}
  


@keyframes grow {
  from {transform: scale(0,0); opacity: 0;}
  to {transform: scale(1,1); opacity: 1;}
}

@keyframes move {
  from {transform: translateX(0px)}
  to {transform: translateX(45px)}
}